Repository isdi-coders-2023/snake-solid-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run husky:lint, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "npm run husky:lint",
  "*.{ts,tsx,css,json,md}": "prettier --write"
}

fix: add main as valid branch to follow ship/show/ask
  .husky/pre-push
Due: none

fix: update github actions libs to be compatible with new node versions
  .github/workflows/audit.yml
  .github/workflows/sonar.yml
Due: none

chore: remove editor config validator
  .github/workflows/audit.yml
  src/__mocks__/.gitkeep
  src/core/.gitkeep
Due: none

feat: add testing on prepush hook
  .github/workflows/audit.yml
  .husky/pre-push
Due: none

fix: add node_modules to gitignore
  .gitignore
Due: none

chore: change delivery dates
  README.md
  package-lock.json
  package.json
Due: prettier --write

fix: update kanban board url
  README.md
Due: prettier --write

feat: create Snake class
  package-lock.json
  package.json
  src/core/Snake/Snake.test.ts
  src/core/Snake/Snake.ts
  src/core/constants.ts
Due: npm run husky:lint, prettier --write

WIP
  src/operations/NodeMenu/NodeMenu.test.ts
  src/operations/NodeMenu/NodeMenu.ts
  src/operations/interfaces/Menu.ts
Due: npm run husky:lint, prettier --write

changed the naming of directory and moved the Menu class to file
  src/Menu/NodeMenu/NodeMenu.test.ts
  src/Menu/NodeMenu/NodeMenu.ts
  src/Menu/interfaces/Menu.ts
  src/operations/NodeMenu/NodeMenu.ts
  src/operations/interfaces/Menu.ts
Due: npm run husky:lint, prettier --write

added ReadLineNode class to abstract user input/output and to make tests easier
  src/Menu/NodeMenu/NodeMenu.test.ts
  src/Menu/NodeMenu/NodeMenu.ts
  src/Menu/ReadLineMenu/ReadLineMenu.ts
  src/Menu/interfaces/Menu.ts
  src/index.ts
Due: npm run husky:lint, prettier --write

added new test when the user enter an invalid option
  src/Menu/NodeMenu/NodeMenu.test.ts
Due: npm run husky:lint, prettier --write

feat: add snake body class
  src/core/Body/Body.test.ts
  src/core/Body/Body.ts
  src/core/Snake/Snake.test.ts
  src/core/Snake/Snake.ts
  src/core/constants.ts
  src/core/types.ts
Due: npm run husky:lint, prettier --write

feat: create class EngineCollisionManager
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  src/__mocks__/CollisionableMock.ts
  src/game/EngineCollisionManager/EngineCollisionManager.test.ts
  src/game/EngineCollisionManager/EngineCollisionManager.ts
  src/game/EngineCollisionManager/types.ts
Due: npm run husky:lint, prettier --write

feat: create BodySegment
  src/core/Body/Body.test.ts
  src/core/Body/Body.ts
  src/core/BodySegment/BodySegment.test.ts
  src/core/BodySegment/BodySegment.ts
  src/core/Snake/Snake.test.ts
  src/core/Snake/Snake.ts
  src/core/constants.ts
  src/core/types.ts
  src/game/game-controller.ts
Due: npm run husky:lint, prettier --write

changed the naming and added handle functions
  src/Menu/NodeMenu/NodeMenu.test.ts
  src/Menu/NodeMenu/NodeMenu.ts
  src/Menu/ReadLineNode/ReadLineNode.ts
  src/index.ts
Due: npm run husky:lint, prettier --write

feat: refactor EngineCollisionManager to return the boolean expression
  src/game/EngineCollisionManager/EngineCollisionManager.ts
Due: npm run husky:lint, prettier --write

feat: add snake body coordinate creation
  src/core/Body/Body.test.ts
  src/core/Body/Body.ts
  src/core/Snake/Snake.test.ts
Due: npm run husky:lint, prettier --write

feat: item class generate random coordinates & test
  src/core/Item/Item.test.ts
  src/core/Item/Item.ts
Due: npm run husky:lint, prettier --write

feat: add MovementContext
  src/core/movement/MovementContext/MovementContext.test.ts
  src/core/movement/MovementContext/MovementContext.ts
Due: npm run husky:lint, prettier --write

Create NodeMenuItem and OptionsCollection
  src/Menu/NodeMenu/NodeMenu.test.ts
  src/Menu/NodeMenu/NodeMenu.ts
  src/Menu/NodeMenuItem/NodeMenuItem.test.ts
  src/Menu/NodeMenuItem/NodeMenuItem.ts
  src/Menu/OptionsCollection/OptionsCollection.test.ts
  src/Menu/OptionsCollection/OptionsCollection.ts
  src/Menu/interfaces/Collection.ts
  src/Menu/interfaces/Menu.ts
  src/Menu/interfaces/MenuItem.ts
Due: npm run husky:lint, prettier --write

fix: exclude __mocks__ folder sonarCloud
  sonar-project.properties
Due: none

feat: add getColor method to item class depending on the item type
  src/core/Item/Item.test.ts
  src/core/Item/Item.ts
Due: npm run husky:lint, prettier --write

Update tests definition in NodeMenuItem tests
  src/Menu/NodeMenuItem/NodeMenuItem.test.ts
Due: npm run husky:lint, prettier --write

Remove comment in NodeMenuItem
  src/Menu/NodeMenuItem/NodeMenuItem.ts
Due: npm run husky:lint, prettier --write

Replace OptionsCollection for MenuItemsCollection
  src/Menu/MenuItemsCollection/MenuItemsCollection.test.ts
  src/Menu/MenuItemsCollection/MenuItemsCollection.ts
Due: npm run husky:lint, prettier --write

Move ReadLineMock to a file
  src/Menu/ReadLineMock/ReadLineMock.ts
Due: npm run husky:lint, prettier --write

Update NodeMenu class and tests
  src/Menu/NodeMenu/NodeMenu.test.ts
  src/Menu/NodeMenu/NodeMenu.ts
Due: npm run husky:lint, prettier --write

added MenuManager
  package-lock.json
  src/Menu/MenuManager/MenuManager.ts
  src/Menu/NodeMenu/NodeMenu.ts
  src/Menu/OptionsCollection/OptionsCollection.ts
  src/Menu/interfaces/Collection.ts
  src/game/game-controller.ts
  src/index.ts
Due: npm run husky:lint, prettier --write

Update name method
  src/Menu/OptionsCollection/OptionsCollection.ts
  src/Menu/interfaces/Collection.ts
Due: npm run husky:lint, prettier --write

feat: create GameLoop
  src/core/constants.ts
  src/game/GameLoop/GameLoop.test.ts
  src/game/GameLoop/GameLoop.ts
  src/game/GameLoop/types.ts
  src/game/game-controller.ts
Due: npm run husky:lint, prettier --write

feat: add ability to change game loop speed while running
  package.json
  src/game/GameLoop/GameLoop.test.ts
  src/game/GameLoop/GameLoop.ts
Due: npm run husky:lint, prettier --write

fix: stop game loop in tests to remove open handles
  package.json
  src/game/GameLoop/GameLoop.test.ts
Due: npm run husky:lint, prettier --write

feat: add movement method to Snake
  src/core/Body/Body.test.ts
  src/core/Body/Body.ts
  src/core/Snake/Snake.test.ts
  src/core/Snake/Snake.ts
  src/core/movement/DownMovement/DownMovement.test.ts
  src/core/movement/DownMovement/DownMovement.ts
  src/core/movement/LeftMovement/LeftMovement.test.ts
  src/core/movement/LeftMovement/LeftMovement.ts
  src/core/movement/MovementContext/MovementContext.test.ts
  src/core/movement/MovementContext/MovementContext.ts
  src/core/movement/MovementManager/MovementManager.test.ts
  src/core/movement/MovementManager/MovementManager.ts
  src/core/movement/MovementManager/MovementStrategy.ts
  src/core/movement/RightMovement/RightMovement.test.ts
  src/core/movement/RightMovement/RightMovement.ts
  src/core/movement/UpMovement/UpMovement.test.ts
  src/core/movement/UpMovement/UpMovement.ts
  src/game/game-controller.ts
Due: npm run husky:lint, prettier --write

feat: add movement to GameLoop
  src/game/game-controller.ts
Due: npm run husky:lint, prettier --write

Add getValue mehtod in MenuItem
  src/Menu/MenuItemsCollection/MenuItemsCollection.test.ts
  src/Menu/NodeMenu/NodeMenu.test.ts
  src/Menu/NodeMenuItem/NodeMenuItem.test.ts
  src/Menu/NodeMenuItem/NodeMenuItem.ts
  src/Menu/OptionsCollection/OptionsCollection.test.ts
  src/Menu/interfaces/MenuItem.ts
Due: npm run husky:lint, prettier --write

Use OptionsCollection instead of MenuItemsCollection
  src/Menu/NodeMenu/NodeMenu.test.ts
  src/Menu/NodeMenu/NodeMenu.ts
Due: npm run husky:lint, prettier --write

Update MenuManager
  src/Menu/MenuManager/MenuManager.ts
  src/index.ts
Due: npm run husky:lint, prettier --write

feat: create item manager class
  src/core/ItemManager/ItemManager.test.ts
  src/core/ItemManager/ItemManager.ts
Due: npm run husky:lint, prettier --write

feat: get total running time in game loop
  src/game/GameLoop/GameLoop.test.ts
  src/game/GameLoop/GameLoop.ts
Due: npm run husky:lint, prettier --write
